#header img {
	position:relative;
	left:50%;
    transform: translateX(-50%);
    padding-top:20px;
    padding-bottom:10px;
    max-width:100%;
    height:auto;
}

nav {
    text-align: center;

}

nav ul li{
	float:left;
/*	padding-left:40px;
	padding-right:40px;*/
    transition: ease-in-out 0.4s;
    font-size:1.5em;
/*    padding-top:10px;
    padding-bottom:5px;*/
    color:#0E0E0C;
}

nav li:hover,button:hover {
    background-color: #B0B7C3;
}

#api_calls {
	margin-top:30px;
}

body {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 100;
}

ul {
	list-style-type: none;
	margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;   
}

button{
	border:none;
	background-color: white;
	text-align:center;
	font-family: proxima-nova, sans-serif;
	font-style:normal;
	font-weight:100;
	font-size:20px;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:40px;
	padding-right:40px;
	transition: ease-in-out 0.4s;
}